.colorpicker {
  border: 1px solid #cacaca;
  background-color: #ffffff; }

.colorpicker-red {
  background-color: #ffe0cc !important; }

.colorpicker-blue {
  background-color: #ced7ff !important; }

.colorpicker-grey {
  background-color: #f2f2f2 !important; }

.notecolor-white {
  background-color: #ffffff !important; }

.notecolor-red {
  background-color: #ffe0cc !important; }

.notecolor-blue {
  background-color: #ced7ff !important; }

.notecolor-grey {
  background-color: #f2f2f2 !important; }

.st-note-image {
  width: 100%; }

.panel-body {
  padding: 0%; }

.text-padding {
  margin: 10px 10px 10px 10px;
  word-wrap: break-word; }

.btn-text {
  font-size: 10px;
  cursor: pointer; }

.text-color {
  color: #f81f1b; }

.panel-heading {
  font-size: 17px; }

.link {
  color: #4a2ff8;
  margin: 10px 10px 10px 10px;
  word-wrap: break-word; }

.note-footer-images {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #e9eaf0;
  height: 30px; }

.note-footer-images span {
  padding-left: 10px; }

.note-footer-notes {
  padding: 10px; }

.note-footer-link {
  padding: 10px; }

.panel-footer {
  border: none; }
