

<div>
    <div ng-click="$ctrl.changeColor($ctrl.key.objNote.id, 'white')" type="button" class="btn colorpicker btn-circle"></div>
    <div ng-click="$ctrl.changeColor($ctrl.key.objNote.id, 'red')" type="button" class="btn colorpicker-red btn-circle"></div>
    <div ng-click="$ctrl.changeColor($ctrl.key.objNote.id, 'blue')" type="button" class="btn colorpicker-blue btn-circle"></div>
    <div ng-click="$ctrl.changeColor($ctrl.key.objNote.id, 'grey')" type="button" class="btn colorpicker-grey btn-circle"></div>
</div>