<div class="col-md-12 note-list">
    <div ng-switch=$ctrl.key.notesView>
        <div ng-switch-default>
            <div class="col-md-12 kap dns-margin-gap" ng-switch=$ctrl.key.activeTab>
                <div ng-switch-default>
                    <p>Notes</p>
                    <div class="btn btn-success btn-round dns-button" ng-click="$ctrl.openModal()">Add New Note</div>
                </div>
                <div ng-switch-when="trash">
                    <p>Trash</p>
                    <div class="btn btn-danger btn-round dns-button" ng-click="$ctrl.emptyTrash()">Clear Trash</div>
                </div>
            </div>
            <div class="col-md-12 kap dns-margin-gap">
                <div ng-repeat="item in $ctrl.items" >
                    <note key="{objNote:item, active_tab: $ctrl.key.activeTab}"></note>
                </div>
            </div>
        </div>
        <div ng-switch-when="none">
            <div class="col-md-12 kap dns-margin-gap ">
                <p>Notes</p>
                <div >
                    <img src="Illustrations/notes-empty-state.svg" />
                </div>
                <div class="btn btn-success  dns-button" ng-click="$ctrl.openModal()">Add First Note</div>
            </div>
        </div>
    </div>
</div>