
input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #e3e3e3;
  padding: 2px 5px;
  width: 250px;
}

input[type=url] {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #e3e3e3;
  padding: 2px 5px;
  width: 250px;
}

.st-ib-margin-gap {
  margin: 5px 15px 15px 5px;
}


.st-button-modal {

  right: 30px;
  top: 5px;
  border-radius: 17px;
}

.st-modal-footer{
  background: transparent;
  border: none;
}

.st-modal-icon{

  margin: 10px 10px 10px 10px;
  color: #cacaca;
}

.st-modal-active-tab{
  border-bottom: 5px solid #91aefb;
  color: #5b5b5b;
  padding-bottom:15px;
}
