.note-list {
  background: #f8f8f8;
  margin: 10px 10px 10px 10px;
  float: left;
  width: 100%;
  border-radius: 0px; }

.note-list p {
  font-size: 25px; }

.dns-margin-gap {
  margin: 10px 10px 10px 10px; }

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.dns-disable-all {
  z-index: 1000;
  opacity: 0.2;
  pointer-events: none; }

.dns-button {
  position: absolute;
  right: 30px;
  top: 5px;
  border-radius: 17px; }

.empty-notes {
  margin-left: auto;
  margin-right: auto;
  width: 8em; }

.dns-respons-cards {
  float: left;
  width: 100%;
  border-radius: 0px; }

@media (min-width: 414px) {
  .dns-respons-cards {
    float: left;
    width: 50%; } }

@media (min-width: 845px) {
  .dns-respons-cards {
    float: left;
    width: 25%; } }

@media (min-width: 1125px) {
  .dns-respons-cards {
    float: left;
    width: 20%; } }

@media (min-width: 1405px) {
  .dns-respons-cards {
    float: left;
    width: 16.65%; } }

@media (min-width: 1700px) {
  .dns-respons-cards {
    float: left;
    width: 14.27%; } }
